{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <title>{% block title %}Мой магазин{% endblock %}</title>
</head>
<body>
    <header class="site-header">
        <nav class="main-nav">
            <a href="{% url 'store:main' %}" class="logo">🍏 Apple Store (почти)</a>
            <a href="{% url 'store:product_list' %}" class="nav-link">Каталог товаров</a>
        </nav>
    </header>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <p>© 2026. All rights reserved 🚀</p>
    </footer>
</body>
</html>